/**
* ! General
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black
}
li{
    list-style: none;
}




/**
* ! Header
*/
.header-content{
    height: 100px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    

}
.header-content a#sc{
    font-size: 40px;
    color: white;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.header-content nav{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
   
    color:white

}
#links{
    width:200px;
    display: flex;
    gap: 5px;
    justify-content:flex-start;
    
    
}
#links li a{
 color: aliceblue;
 border: 2px solid white;
 padding: 7px;
 border-radius: 5px;
 outline: 4px;
    
}
#cartIcon{
    display: flex;
    align-items: center;
    position: relative;
    /* margin-right: 20px; */
}
.cart-products{
    position: absolute;
    width: 250px;
    top:15%;
    color: white;
}

.cart-products a{
   display: block;
   width:200px;
    color: white;
    background-color:grey;
    transform: translateX(-50%);
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    outline-width: 2px;
    font-size: large;
    font-family: sans-serif;

}
#user-info{
    width: 300px;
    
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.details {
    display: flex;
    flex-direction: column;   /* stack text + buttons vertically */
    justify-content: center;  /* center vertically */
    align-items: center;      /* center horizontally */
    
}

.details-body {
    width: 75%;        /* keep it narrower than full */
    text-align: left;  /* text stays left-aligned */
}