.search-wrapper{
    display: flex;
    flex-direction: column;
    gap:.25rem;
}
input{
    font-size: 1rem;
}
.card-users{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
gap:0.25rem;
margin-top: 1rem;
}
.user-card{
    border:1px solid black;
    background:white;
    padding: 0.5rem;
}
.user-card >.header{
    margin-bottom: .5rem;
}
.user-card > .body{
    font-size: 0.8rem;
    color: #777;
}
.hide{
    display: none;
}